<div class="canvas-container">
  <canvas
    #canvas
    [width]="canvasWidth"
    [height]="canvasHeight"
    (pointerdown)="handlePointerDown()"
    (pointerup)="handlePointerUp()"
    (pointerout)="handlePointerUp()"
    (pointermove)="handlePointerMove($event)"
    (touchstart)="hadleTouchStart($event)"
    (touchmove)="handleTouchMove($event)"
  >
  </canvas>
    
  <div class="controls row">
    <div class="color-picker col">
      <label>Cor:</label>
      <input type="color" [(ngModel)]="currentColor" (change)="updateColor()">
    </div>
    
    <div class="brush-size col">
      <label>Tamanho:</label>
      <input type="range" 
        min="1" 
        max="20" 
        [(ngModel)]="brushSize"
        (change)="updateBrushSize()">
    </div>

    <button mat-stroked-button (click)="setTool('brush')"
      class="col"
      [class.active]="currentTool === 'brush'">
      Pincel
    </button>
      
    <button mat-stroked-button (click)="setTool('eraser')"
      class="col"
      [class.active]="currentTool === 'eraser'">
      Borracha
    </button>
      
    <button mat-stroked-button (click)="clearCanvas()" class="col">
      Limpar
    </button>

    <button mat-stroked-button (click)="routeToConfig()" class="col">
      Novo Jogo
    </button>
  </div>
</div>